*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --pr-dark: hsl(300, 43%, 22%);
  --pr-light: hsl(333, 80%, 67%);
  --nt-dark-gray: hsl(303, 10%, 53%);
  --nt-light-gray: hsl(300, 24%, 96%);
  --nt-white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.wrapper {
  margin: 0;
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  height: cover;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1440px;
}

/* main */
.main {
  text-align: center;
}

.main-title {
  font-size: 2.5rem;
  color: var(--pr-dark);
}

.main-text {
  line-height: 2;
  color: var(--nt-dark-gray);
}

.ratings-container {
  margin-top: 2rem;
}

.ratings {
  background-color: var(--nt-light-gray);
  padding: 1rem;

  
  color: var(--pr-dark);
  font-weight: 700;
  border-radius: 10px;
}

.ratings-text p {
  margin: 0;
  margin-top: 0.5rem;
}

.ratings-imgs {
  margin-bottom: 0;
}

/* reviews */

.review-card {
  background-color: var(--pr-dark);
  border-radius: 10px;
  padding: 2rem 2rem;
  margin: 1rem auto;
  color: var(--nt-white);
  line-height: 2;
}

.customer-img {
  margin-right: 1.5rem;
  /* width: auto;
    max-width:100%; */
  /* width: 64px;
    height: 64px; */
  display: flex;
  align-items: center;
}

.customer-img img {
  width: 64px;
  height: 64px;
  max-width: 100%;
  border-radius: 100%;
}

.reviews-heading {
  margin-bottom: 1.5rem;
  display: flex;
  font-weight: 700;
  /* border: 1px solid var(--pr-dark); */
}

.customer-verification {
  color: var(--pr-light);
}

/* attribute */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query */
@media (min-width: 940px) {
  .wrapper {
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  .container {
    margin: 0 auto;
    padding: 6rem;
    padding-bottom: 0;
  }

  .row {
    display: flex;
  }

  .col {
    width: 100%;
    margin: 1rem;
  }

  .main {
    text-align: left;
  }

  .main-container{
      margin-right: 8rem;
  }


  .ratings,
  .ratings-imgs,
  .ratings-text {
    display: inline-block;
    
  }

  .ratings {
    margin: .5rem 0;
    width: 100%;
  }

  .ratings-imgs,
  .ratings-text {
    margin: auto .5rem;
  }


  .reviews .container {
      padding-top:1rem;
      padding-bottom: 5rem;
  }



  
}

@media (max-width: 1180px) {
    .ratings,
    .ratings-imgs,
    .ratings-text {
      display: block;
    }
    .ratings{
        margin:  0;
        text-align: center;
    }

}

@media (min-width: 1380px) {

    
  .r2 {
    position: relative;
    left: 3rem;
  }

  .r3 {
    position: relative;
    left: 6rem;
  }

  .cc2 {
    position: relative;
    top: 2.5rem;
  }

  .cc3 {
    position: relative;
    top: 5rem;
  }

  .ratings {
    margin: 0.5rem;
    width: 80%;
  }

}